.addbutton{
    margin: 10px;
}
.nav-left{
    position: absolute;
    left: 0px;
    padding: 5px;
    /* border: 3px solid #73AD21; */
}
.nav-right{
    position: absolute;
    right: 0px;
    padding: 5px;
    /* border: 3px solid #73AD21; */
}

/* .navbar-nav{
    border: 3px solid #73AD21; 
    position: absolute;
    padding: 5px;
    right: 0px;
} */

